@use 'src/index' as s;

.cardchef-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 100%;
}

.cardchef-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 4.0fr 1fr;
    line-height: 0%;
    text-align:left;
    width: 250px;
    height: 400px;
    margin: 21px;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: s.$color-card;
    cursor: pointer;
    
}

.cardchef-items h2 {
    font-family: heading-font-family;
    color: s.$color-accent;
}

.cardchef-items p {
    font-family: s.$body-font-family;
    font-size: s.$small-font-size;
}

.cardchef-order-container { // UL
background-color: s.$color-card2;
border-radius: 10px;
padding: 15px;
}

.cardchef-order-container li {
    display: flex;
    flex-direction: row;
    line-height: 0%;
    
}

.cardchef-order-container li p {
    padding: 0px 10px 0px 10px;
    
}



.cardchef-btns {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.status-btn, 
.timer-btn {
    text-align: center;
    line-height: 2%;
    padding: 16px;
    width: 100px;
    height: 47px;
    border-radius: 10px;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
    background-color: s.$color-accent;
    border: none;
    color: white;
    background-color: s.$color-btn1;
    font-size: s.$small-font-size;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .cardchef-items {
        width: 280px;
    }
  }