@use 'src/index' as s;

.cardmenu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    // border: 5px solid rgb(187, 255, 0);
    justify-content: space-around;
}

.cardmenu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 280px;
    border-radius: 16px;
    padding:10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    background-color: s.$color-card;
}

.cardmenu-items p:last-child {
    color: s.$color-accent;
}

.cardmenu-items p {
    font-weight: 400;
}

.cardmenu-img {
    width: 50px;
    height: 50px;
    padding-top: 3px;
}