@use 'src/index' as s;

.cardmenu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 100%;
}

.cardmenu-items {
    text-align: center;
    width: 100%;
    max-width: 150px;
    height: 250px;
    margin: 21px;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: s.$color-card;
    cursor: pointer;
}

.cardmenu-items p:last-child {
    color: s.$color-accent;
    font-weight: 600;
    font-size: s.$base-font-size;
}

.cardmenu-items p {
    font-size: s.$small-font-size;
}

.cardmenu-items h3 {
    color: s.$color-dark;
}

.cardmenu-img {
    width: 70px;
    height: 70px;
    border-radius: 20%;
}

@media screen and (min-width: 1200px) {
    .cardmenu-container {
        grid-template-columns: repeat(4, 1fr);
    }
  }