@font-face {
  src: url('./assets/fonts/PlayfairDisplay-Regular.ttf');
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

@font-face {
  src: url('./assets/fonts/PlayfairDisplay-SemiBold.ttf');
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
}

@font-face {
  src: url('./assets/fonts/Nunito-ExtraLight.ttf');
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

@font-face {
  src: url('./assets/fonts/Nunito-Regular.ttf');
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

@font-face {
  src: url('./assets/fonts/Nunito-SemiBold.ttf');
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

$heading-font-family: 'Playfair Display', sans-serif;
$body-font-family: 'Nunito', sans-serif;
$base-font-size: 1rem;
$base-font-weight: 400;

$color-primary: #F28DBC;
$color-secondary: #F6D0E4;
$color-bg: #F7EDF5;
$color-accent: #BF0449;
$color-nav-icon: #F4A1BD;
$color-btn1: #F29F05;
$color-btn2: #41ABB5;

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

