@font-face {
  src: url('./assets/fonts/PlayfairDisplay-Regular.ttf');
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

@font-face {
  src: url('./assets/fonts/PlayfairDisplay-SemiBold.ttf');
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
}

@font-face {
  src: url('./assets/fonts/Nunito-ExtraLight.ttf');
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

@font-face {
  src: url('./assets/fonts/Nunito-Regular.ttf');
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

@font-face {
  src: url('./assets/fonts/Nunito-SemiBold.ttf');
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

$heading-font-family: 'Playfair Display', sans-serif;
$body-font-family: 'Nunito', sans-serif;
$base-font-size: 1rem;
$base-font-weight: 400;

$color-primary: #F28DBC;
$color-secondary: #F6D0E4;
$color-bg: #F7EDF5;
$color-accent: #BF0449;
$color-nav-icon: #F4A1BD;
$color-btn1: #F29F05;
$color-btn2: #41ABB5;
$color-card: #F4F0EE; 
$color-card2: #EAE6E6;

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(161, 67, 131, 0.05);
  width: 60%;
  padding: 5%;
  border-radius: 3%;
  box-shadow: 2px 3px 9px 0px rgba(173, 155, 155, 0.51);
  -webkit-box-shadow: 2px 3px 9px 0px rgba(173, 155, 155, 0.51);
  -moz-box-shadow: 2px 3px 9px 0px rgba(173, 155, 155, 0.51);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
}

.toView {
  margin: 7%;
} 

.main-icons {
  width: 90%;
  height: auto;
  padding: 10%;
  background-color: $color-card;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 8px;
  border: 1px solid transparent;
}

.main-icons:hover {
  border-color: $color-primary;
}
.main-icons:focus,
.main-icons:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: $color-card;
  margin: 5%;
  width: 50%;
  padding: 1%;
  border-radius: 4px;
  border: 1px solid $color-accent;
}


